<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head/meta') %>
    <title>Account Disabled</title>
    <%- include('partials/head/resource') %>
    <script src="/js/page-toggler.js" nonce="<%= config.NONCE %>"></script>
  </head>
  <body>
    <!-- <div class="flex items-center h-screen overflow-hidden p-4">
      <main class="p-4 max-w-screen-sm mx-auto shadow-md rounded-lg">
        <h1 class="font-poppins text-2xl font-bold text-red-500">
          Your account has been disabled
        </h1>
        <p class="my-4">
          <%= user.givenName %>, your account has been disabled. If you have any questions or concern, 
          you can talk directly to the PTC registrar or contact through email at 
          <a class="text-blue-500 hover:underline" href="mailto:johndoe@example.com">johndoe@example.com</a>.
        </p>
        <div class="flex justify-end">
          <a class="inline-flex gap-x-2 mt-4 btn red" href="/auth/logout">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
            </svg>
            Sign Out        
          </a>
        </div>
      </main>
    </div> -->
    <button data-toggle-page="2">test</button>
    <main id="main-container">
      <div data-content="1">
        content 1
      </div>
      <div class="hidden" data-content="2">
        content 2
      </div>
    </main>
  </body>
</html>