<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content="  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut saepe officiis qui! Maxime totam explicabo temporibus numquam tenetur rerum repellendus, consectetur, voluptates quam delectus perferendis atque odio velit ut odit."/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>
    <%- typeof title !== 'undefined' ? title : 'PTC' %>
  </title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
  <%- include('partials/header') %>
  <div class="px-4">
  <div class="container text-justify">
    <h1 class="text-2xl font-bold my-4 text-left lg:text-center">
      The Development of Reservation System of Pateros Technological College
    </h1>
    <p class="my-2">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error reiciendis odio eum? Laborum quia molestias, nihil veritatis voluptatem vitae inventore assumenda ipsam voluptates quaerat odio? Eum quis rerum autem expedita ipsum magnam, suscipit sunt alias, perferendis tempora sapiente ipsam, possimus minus maxime earum natus nobis laborum architecto aspernatur vel! Tenetur!
    </p>
    <p class="my-2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolores inventore adipisci, repudiandae ea eligendi voluptatem earum accusamus incidunt natus placeat repellendus saepe id debitis. Minima unde ullam vel corrupti, omnis deserunt dolorum iste suscipit eum delectus, ab, mollitia amet accusamus tempore iusto! Magni officia id, aut magnam dolorum sunt.
    </p>
  </div>
</div>
</body>
</html>