<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head/meta') %>
    <title>
      <%- typeof title !== 'undefined' ? title : 'PTC' %>
    </title>
    <%- include('partials/head/resource') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="px-4">
      <div class="container text-justify">
        <h1 class="text-2xl my-4 text-left lg:text-center font-poppins">
          The Development of Reservation System of Pateros Technological College
        </h1>
        <p class="my-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error reiciendis odio eum? Laborum quia molestias, nihil veritatis voluptatem vitae inventore assumenda ipsam voluptates quaerat odio? Eum quis rerum autem expedita ipsum magnam, suscipit sunt alias, perferendis tempora sapiente ipsam, possimus minus maxime earum natus nobis laborum architecto aspernatur vel! Tenetur!
        </p>
        <p class="my-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolores inventore adipisci, repudiandae ea eligendi voluptatem earum accusamus incidunt natus placeat repellendus saepe id debitis. Minima unde ullam vel corrupti, omnis deserunt dolorum iste suscipit eum delectus, ab, mollitia amet accusamus tempore iusto! Magni officia id, aut magnam dolorum sunt.
        </p>
      </div>
    </div>
    <script src="/js/app.js" type="module"></script>
  </body>
</html>