<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head/meta')%>
    <title>Site Under Maintenance</title>
    <%- include('partials/head/resource')%>
</head>
<body class="overflow-hidden">

    <div class="grid place-items-center h-screen"> 
      <div class="p-4">
            <img class="w-60 mx-auto" src="/assets/image/workers.png" alt="site under maintenance" width="512" height="512">
            <div class="text inline font-medium  font-poppins">
                <h1 class="font-semibold text-center text-5xl py-2">Sorry for Inconvenience</h1>
                <p class="text-center text-xl py-2">Site Under Construction</p>
            </div>
        </div>  
    </div>
    <p class="sticky bottom-0 text-center text-black/60 py-2"> &copy;resrv 2022</p>
</body>
</html>