<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head/meta') %>
    <title>Page not found</title>
    <%- include('partials/head/resource') %>
  </head>
  <body class="">
    <main class="grid place-items-center h-screen overflow-hidden">
      <img src="/assets/image/404-image.svg" alt="404 image question mark">
      <div class="max-w-md text-center font-poppins">
        <h1 class="text-slate-900 font-bold text-3xl">
          That page doesn&rsquo;t exists!
        </h1>
        <p class="text-slate-700 mt-6">
          <%= message %>
        </p>
      </div>
      <p class="sticky bottom-0 text-center text-black/60"> &copy;resrv 2022</p>
    </main>
  </body>
</html>