<div data-content="reservations">

  <div class="flex gap-4 flex-wrap w-full" id="reservations-cards-container">
    
    <div class="bg-slate-900 w-[300px] h-[300px] md:w-[200px] md:h-[200px] lg:w-[300px] lg:h-[300px] rounded-lg p-4 text-white relative font-bold flex flex-col justify-between shadow cursor-default md:cursor-pointer">
      <header>
        <h2 class="font-poppins text-4xl md:text-2xl lg:text-4xl">
          BSIT
        </h2>
      </header>
      <section class="text-center">
        <p class="-mt-4">
          <span class="text-8xl md:text-3xl lg:text-8xl">40</span> 
          <span class="text-xs font-light">Pending</span>
        </p>
      </section>
      <footer>
        <p class="font-normal md:text-xs lg:text-base text-center">
          Bachelor of Science in Information Technology
        </p>
      </footer>
    </div>

    <div class="bg-slate-900 w-[300px] h-[300px] md:w-[200px] md:h-[200px] lg:w-[300px] lg:h-[300px] rounded-lg p-4 text-white relative font-bold flex flex-col justify-between shadow cursor-default md:cursor-pointer">
      <header>
        <h2 class="font-poppins text-4xl md:text-2xl lg:text-4xl">
          BSIT
        </h2>
      </header>
      <section class="text-center">
        <p class="-mt-4">
          <span class="text-8xl md:text-3xl lg:text-8xl">40</span> 
          <span class="text-xs font-light">Pending</span>
        </p>
      </section>
      <footer>
        <p class="font-normal md:text-xs lg:text-base text-center">
          Bachelor of Science in Information Technology
        </p>
      </footer>
    </div>

    <div class="bg-slate-900 w-[300px] h-[300px] md:w-[200px] md:h-[200px] lg:w-[300px] lg:h-[300px] rounded-lg p-4 text-white relative font-bold flex flex-col justify-between shadow cursor-default md:cursor-pointer">
      <header>
        <h2 class="font-poppins text-4xl md:text-2xl lg:text-4xl">
          BSIT
        </h2>
      </header>
      <section class="text-center">
        <p class="-mt-4">
          <span class="text-8xl md:text-3xl lg:text-8xl">40</span> 
          <span class="text-xs font-light">Pending</span>
        </p>
      </section>
      <footer>
        <p class="font-normal md:text-xs lg:text-base text-center">
          Bachelor of Science in Information Technology
        </p>
      </footer>
    </div>

    <div class="bg-slate-900 w-[300px] h-[300px] md:w-[200px] md:h-[200px] lg:w-[300px] lg:h-[300px] rounded-lg p-4 text-white relative font-bold flex flex-col justify-between shadow cursor-default md:cursor-pointer">
      <header>
        <h2 class="font-poppins text-4xl md:text-2xl lg:text-4xl">
          BSIT
        </h2>
      </header>
      <section class="text-center">
        <p class="-mt-4">
          <span class="text-8xl md:text-3xl lg:text-8xl">40</span> 
          <span class="text-xs font-light">Pending</span>
        </p>
      </section>
      <footer>
        <p class="font-normal md:text-xs lg:text-base text-center">
          Bachelor of Science in Information Technology
        </p>
      </footer>
    </div>

    <div class="bg-slate-900 w-[300px] h-[300px] md:w-[200px] md:h-[200px] lg:w-[300px] lg:h-[300px] rounded-lg p-4 text-white relative font-bold flex flex-col justify-between shadow cursor-default md:cursor-pointer">
      <header>
        <h2 class="font-poppins text-4xl md:text-2xl lg:text-4xl">
          BSIT
        </h2>
      </header>
      <section class="text-center">
        <p class="-mt-4">
          <span class="text-8xl md:text-3xl lg:text-8xl">40</span> 
          <span class="text-xs font-light">Pending</span>
        </p>
      </section>
      <footer>
        <p class="font-normal md:text-xs lg:text-base text-center">
          Bachelor of Science in Information Technology
        </p>
      </footer>
    </div>


  </div>

  <div class="hidden">
  </div>

  <div class="hidden">
  </div>
</div>