<header class="border-b border-b-gray-200 p-4 flex justify-between items-center sticky top-0 bg-white z-10 gap-x-4">
  <h2 class="font-poppins text-sm md:text-2xl font-bold" id="current-page">
    Reservations
  </h2>
  <%- include('../profile-floater') %>
</header>