<noscript>
  <style>
    html, body {
      overflow: hidden !important;
    }
  </style>
  <div class="w-full h-full fixed z-[9999] bg-black/30 left-0 top-0 p-4 flex items-center">
    <div class="w-full">
      <div class="bg-white max-w-screen-sm p-4 rounded-md mx-auto">
        <div class="prose">
          <h2>:(</h2>
          <p>
            Cannot use the application, javascript is disabled. 
            <a href="https://www.bigcommerce.com/ecommerce-answers/what-javascript-and-why-it-important/" target="_blank">Learn more.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</noscript>
