<div class="mb-4">
    <form action="">
        <input type="search" name="search" id="search" class="rounded-xl bg-[#F0F0F0] w-72 h-[45px] px-4 relative inline-block focus:ring-[#F0F0F0] border-0 " placeholder="Search" >
        <button type="submit" class="p-2 bg-[#F0F0F0] rounded-xl relative top-[6px] h-[45px] px-2 hover:bg-[#f7f7f7] active:bg-[#F0F0F0]">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-[#9ca3af] stroke-2 ">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
        </button>
    </form>
</div>