<!-- 
  Usage: 

  include('partials/body/switch', {
    attributes: {
      id: 'my-switch',
      title: 'switch',
      ... // so on
    }
  })

-->

<label class="w-[50px] h-[25px] rounded-full inline-block relative bg-[#F0F0F0] overflow-hidden shadow cursor-pointer">
  <input 
    class="peer hidden" 
    type="checkbox" 
    <%= toAttribute(attributes) %>
  />
  <span 
    class="w-full h-full left-0 top-0 p-[2px] peer-checked:bg-green-500 absolute transition-colors
      before:content-[''] before:w-[17px] before:h-[17px] before:bg-white before:shadow before:rounded-full before:absolute before:left-[4px] before:top-[4px]
      peer-checked:before:translate-x-[24px] before:transition-transform
    "
  >
  </span>
</label>