<header class="flex justify-between border-b border-b-gray-100 p-4 items-center">
  <h2 class="font-semibold md:text-2xl font-poppins capitalize text-[#8B8B8B]" id="page-title">
    Departments
  </h2>
  <%- include('../profile-floater') %>
</header>