<main class="p-4 min-h-screen" id="main-container">


  <!-- departments -->
  <section class="" data-content="departments">
    <%- include('contents/departments')  %> 
  </section>

  <!-- users -->
  <section class="hidden" data-content="users" >
    <%- include('../search') %> 
    <%- include('contents/users') %> 
  </section>

  <!-- roles -->
  <section class="hidden" data-content="roles">
    Roles
  </section>

</main>