<header class="flex justify-between border-b border-b-gray-100 p-4 items-center">
  <h2 class="font-bold md:text-xl font-poppins capitalize" id="page-title">
    Users
  </h2>
  <%- include('../profile-floater') %>
</header>