<header class="border-b border-b-gray-200 p-4 flex justify-between items-center sticky top-0 bg-white z-10">
  <h2 class="font-poppins md:text-2xl font-bold" id="current-page">
    Departments
  </h2>
  <%- include('../profile-floater') %>
</header>