<div class="fixed left-0 top-0 w-full h-full bg-black/30 backdrop-blur z-20 items-center px-4 hidden" id="modal-background">

  <div class="w-full md:w-[640px] mx-auto" id="modal-container">
    <%- include('create-department') %>
    <%- include('edit-department') %>
    <%- include('delete-department') %>
  </div>

</div>
