<table class="table-auto w-full border-collapse border text-center">
  <thead>
    <tr">
      <th class="border border-[#E1E1E1] py-2 ">Enable</th>
      <th class="border border-[#E1E1E1]">Name</th>
      <th class="border border-[#E1E1E1]">Email</th>
      <th class="border border-[#E1E1E1]">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-[#E1E1E1] py-2">
      true
      </td>
      <td class="border border-[#E1E1E1] py-2">Anne Marie N.</td>
      <td class="border border-[#E1E1E1] py-2">anneMarie@ptc.edu.ph</td>
      <td class="border border-[#E1E1E1] py-2">
        <div class="flex justify-center gap-x-2">
          <button class="btn green">edit user</button>
          <button class="btn red">Delete</button>
        </div>
      </td>
    </tr>
    <tr>
      <td class="border border-[#E1E1E1] py-2">true</td>
      <td class="border border-[#E1E1E1] py-2">Timothee C.</td>
      <td class="border border-[#E1E1E1] py-2">timmyc@ptc.edu.ph</td>
      <td class="border border-[#E1E1E1] py-2">
        <div class="flex justify-center gap-x-2">
          <button class="btn green">edit user</button>
          <button class="btn red">Delete</button>
        </div>
      </td>          
    </tr>
    <tr>
      <td class="border border-[#E1E1E1] py-2">true</td>
      <td class="border border-[#E1E1E1] py-2">Mabel M.</td>
      <td class="border border-[#E1E1E1] py-2">mabelmc@ptc.edu.ph</td>
      <td class="border border-[#E1E1E1] py-2">
        <div class="flex justify-center gap-x-2">
          <button class="btn green">edit user</button>
          <button class="btn red">Delete</button>
        </div>
      </td>          
    </tr>
  </tbody>
</table>  
      